@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;700&display=swap');


.logo {
    background-color: #222;
    display: inline;
    padding: .3em;
    font-size: x-large;
    font-family: "Space Mono", monospace;
    color: darkseagreen;
    border-radius: .3em;
}



body {
  background-color: #111;
  font-family: "Montserrat", sans-serif;
}

main {
  color: white;
}




.content {
  border: 1px solid #ffffff1a;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  overflow-x: auto;
}

p {
    font-size: 16px;
    line-height: 32px;
}

code.x {
    background-color: #122;
    padding: .5em;
    font-family: 'Courier New', Courier, monospace;
}

::-webkit-scrollbar {
  background-color: #121;
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #141;
}


pre {
  display: block;
  overflow-x: auto;
  font-family: 'Fira Code', monospace;
  padding: 1em;
  border: 1px solid #ffffff1a;
  margin-bottom: 1em;
  border-radius: 0.3em;
  background: rgba(17, 34, 17, 0.5);
  color: #ddd;
  font-weight: 300;
}


.hljs-tag {
    color: lightblue;
    font-weight: 700;

}

.hljs-name {
  color: dodgerblue;
    font-weight: 400;
}

.hljs-string {
  color: #aaff0096;
  font-weight: 300;
}

.hljs-comment {
  color: #75715e;
}
